@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: center;
}
/*=================================
  Header styling starts here
=================================*/
.hero-section{
  width: 100%;
  background-image: url('https://via.placeholder.com/565x450/000000/808080?');
}
.navbar{
  padding: 15px 0;
  background-color: #101b32;
  color: #fff;
}
.logo{
  width: 90%;
  padding: 0 17px ;
  display: inline-block;
  font-size: 14px;
}
.bold{
  font-size: 17px;
  font-weight: 600;
}
.upper{
  text-transform: uppercase;
}
.company{
  width: 54%;
  padding: 200px 0;
  text-align: center;
}
.title{
  color: #e5e5e5;
  font-size: 46px;
  font-weight: 600;
  text-align: center;
}
.description{
  padding: 50px 0 45px;
  color: #e5e5e5;
  font-size: 17px;
  text-align: center;
}
.hero-btn{
  padding: 20px 30px;
  border: 1px solid #737d87;
  color:#fff;
  font-size: 17px;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*info start here*/
.info{
  background-color: #28364b;
}
.about{
  padding: 101px 0 65px 0;
  text-align: center;
}
h2,.info-title{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.info-title{
  padding: 0 0 41px 0;
  text-align: center;
}
.info-decription{
  color: #918d82;
  font-size: 17px;
  font-weight: 400;
}
.videos{
  padding: 0 0 91px 0;
}
.video1,.video2{
  width:47%;
  display: inline-block;
  font-size: 17px;
}
.video1{
  padding: 0 5% 0 0;
}
.figcaption{
  padding: 45px 0;
  background-color: #303f49;
  color: #918d82;
}
/*info ends here*/

/*gallery start here*/
.gallery{
  padding: 101px 0 92px 0;
  background-color: #273041;
}
.gallery-title{
  padding: 101px 0 0 0;
}
.gallery-description{
  padding: 40px 0 70px 0;
  color: #918d82;
  font-size: 17px;
}
.events{
  width:21% ;
  padding: 0 0 100px 0;
  display: inline-block;
  overflow: hidden;
}
.gallery-items{
  width: 76%;
  padding: 0 0 0 2.5%;
  display: inline-block;
}
.events-type{
  width:84%;
  padding: 15px 6%;
  margin: 0 12% 6px 3%;
  background-color: #1d2a2f;
  color: #918d82;
  font-size: 15px;

}
.active{
  background-color: #85109f;
}
.gallery-item{
  width: 31%;
  margin: 0 0 31px 0;
  display: inline-block;
}
.mid{
  margin: 0 2.9%;
}



/*gallery ends here*/

/*popular start here*/
.popular{
  padding: 100px 0 92px 0;
  background-color: #222831;
}
.popular-title{
  text-align: center;
}
.popular-description{
  padding: 31px 0 66px 0;
  color: #918d82;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.card{
  width: 31%;
  display: inline-block;
  
}
.card:nth-child(2){
  padding: 0 3.1%;
}
/*popular end here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{
  padding: 101px 0 53px 0;
  background-color: #020a11;
}
.locations{
  width: 31%;
  display: inline-block;
  overflow: hidden;
}
.locations:nth-child(2){
  margin: 0 3%;
}
.country{
  padding: 0 0 45px 0;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.location{
  width: 100%;
  padding: 15px 0;
  color: #1f262c;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 1px #1f262c;
}

.copyright{
  color: #1f262c;
  text-align: center;
}
.copyright a{
  color: #fff;
}
.connect{
  padding: 63px 0 10px 0;
  text-align: center;
}

/* hover and icon*/
.btn:hover{
  background-color: #fff;
  color: #000;
}
a{
  text-decoration: none;
}
.icon{
  text-indent: -9999px;
}
.twitter::before{
  font-family: 'FontAwesome';
  font-size: 900;
  content: '\f00c';
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  